# Build artifacts
target/
!target/*.jar
*.class

# Maven
.mvn/
mvnw
mvnw.cmd

# IDE
.idea/
.vscode/
*.iml
*.iws
*.ipr

# Git
.git/
.gitignore
.gitattributes

# Documentation
README.md
*.md

# Environment files
.env
.env.*
!.env-example

# Logs
logs/
*.log

# OS
.DS_Store
Thumbs.db

# Others
images/